{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/employee.list.css' %}">
    <title>Заголовок страницы</title>
</head>
<body>
   
    
    <h1>Список сотрудников</h1>

    <form action="{% url 'logout' %}" method="post" id="logout-form">
        {% csrf_token %}
        <button type="submit">Выход</button>
    </form>

    <!-- Поле ввода и кнопки -->
    <div style="text-align: center; margin-bottom: 20px;">
        <input type="text" id="employee-account" readonly placeholder="Выберите сотрудника">
        <button onclick="openAdminPanel()">Редактировать</button>
        <button onclick="createNewEmployee()">Создать нового</button>
    </div>

    <!-- Список сотрудников -->
    <ul class="employee-list">
        {% for employee in employees %}
            <li>
                <div class="employee-header">
                    <span class="employee-name" onclick="setEmployeeAccount('{{ employee.id }}', '{{ employee.first_name }} {{ employee.last_name }}', this)">
                        <span class="arrow">▶</span>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </span>
                </div>
                <div class="employee-details" style="display: none;">
                    Адрес проживания: {{ employee.position }} <br>
                    Телефон: {{ employee.phone_number }} <br>
                    Email: {{ employee.email }} <br>
                    Адрес: {{ employee.address }} <br>
                    Должность: {{ employee.post }} <br>
                    День рождения: {{ employee.date_of_birth }} <br>
                    Дата трудоустройства: {{ employee.date_of_employment }}
                </div>
            </li>
        {% empty %}
            <li>Нет сотрудников.</li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/employee_list.js' %}"></script>
</ul>



    
    
    
    

    
    
    
    
    <script src="{% static 'js/employee_list.js' %}"></script>
</body>
</html>
